
/* Blogpost CSS*/
body{
    background-color: lightblue;
}

/* find out how to make font or text bold in CSS*/

nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

button{
    color: black;
    font-size: 16px;
    background-color: rgb(26, 134, 243);
    font-weight: bold;
    border-radius: 10px 0 10px 0;
    margin-top: 160px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    display: inline-block;

}

.button1:hover {
    background-color: red;
    color: white;
}

.button2:hover {
    background-color: red;
    color: white;

}

.button3:hover {
    background-color: red;
    color: white;
}


.container{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 2000px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: solid 2px black;
}

/*no border lines*/

.box{
    border: solid gray 1px;
    
   
}

.header{
    grid-area: hd;
    background-image: url('/images/img1.jpg');
    background-size: contain;

}

/* for the footer area*/

.footer{
    grid-area: ft;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

.backto-top:hover{
    background-color: red;
    color: white;
}

.backto-top{
    margin-top: 10px;
    text-shadow: slategray;
    margin-bottom: 10px;

}
.footerlinks{
    padding: 10px;
    margin: 10px;
    background-color:green;
    border: solid gray;
}



/* for the side bar*/
/*for the newsguy blog image*/

.sidebar{
    grid-area: sd;
    background-color: lemonchiffon;
    box-shadow: deepskyblue;
    height: 1100px;
    width: fit-content;
}

.links{
    text-align: center;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

h3{
    text-align: center;
    border: solid green;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.blog-post{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-top: 140px;

}

/*the newsguy blog image in the round*/

.img4{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
}
.img3{
    border-radius: 55%;
    width: 900px;
    height: 900px;
    zoom: 8%;
    padding-bottom: 20px;
    margin-right: 50px;

}

.img5{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: auto;
}
/* inputs for the newsguy blog*/
.form-check{
    text-align: center;
    font-size: 18px;
    margin: 0 0 0 0;
    color: whitesmoke;
    background-color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.SUB{
    text-align: center;
    margin-bottom: 50px;

}

.blog-bio{
    text-align: left;
    background-color: coral;
    font-weight: bold;
    border-radius: 20px 0 20px 0;
    color: cornsilk;
}

.bio-photo{
    border-radius: 50%;
    margin-right: 90px;
    width: 80px;
    height: 80px;
}



/* for the content box*/
.content{
    grid-area: main;
    width: fit-content;
    background-color: lemonchiffon;
}

/* paraghraph on news blog page*/
.para{
    text-align: center;
    margin-top: 55px;
    font-weight: bold;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    background-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* grid inside grid for content blog page*/
#nestedGrid{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 48% 48%;
    grid-gap: 18px;
    padding: 10px;
}

.photoBox{
    width: 250px;
    height: 200px;
    background: #f9fa4d;
    box-shadow: green;
}

#one{
  background-image: url('/images/weather.jpg');
  background-size: contain;
  margin-top: 80px;
  margin-left: 200px;
  border-radius: 20px;
}

#two{
    background-image: url('/images/weather2.jpg');
    background-size: contain;
    margin-top: 80px;
    margin-left: 90px;
    border-radius: 20px;
}

#three{
    background-image: url('/images/engineer.jpg');
    background-size: contain;
    margin-top: 80px;
    margin-left: 200px;
    border-radius: 20px;
}

#four{
    background-image: url('/images/img4.jpg');
    background-size: contain;
    margin-top: 80px;
    margin-left: 90px;
    border-radius: 20px;
}


@media (min-width: 330px) and (max-width:1100px){
    .container{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 2000px;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main  main main main main"
        "ft ft ft ft ft ft ft ft";
        border: 5px solid aquamarine;
    }
}

  /* medium screens*/
  
  @media (min-width: 600px) and (max-width:1500px){
    .container{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 2000px;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main  main main main main"
        "ft ft ft ft ft ft ft ft";
        border: 5px solid aquamarine;
    }
}


/* large screens*/ 
@media (min-width:2001px){
    .container{
        border: 2px solid blue;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
        
    }
}